hikari[speedups]==2.0.0.dev118
hikari-lightbulb[crontrigger]==2.3.3

aiofiles==23.1.0
cassandra-driver==3.26.0
shortuuid==1.0.11

uvloop>=0.17; sys_platform != "win32"
aiohttp==3.8.4
toml==0.10.2

lavasnek-rs==0.1.0a5
yt-dlp==2023.3.4
