aiohttp==3.8.1
aiosqlite==0.17.0
hikari[speedups]==2.0.0.dev108
#hikari-lightbulb[crontrigger]==2.2.1
git+https://github.com/tandemdude/hikari-lightbulb#egg=hikari-lightbulb[crontrigger]
toml==0.10.2
uvloop>=0.16; sys_platform != "win32"
lavasnek-rs==0.1.0a5
